
body {

background-color: tan;
}
.jumbotron {
  margin-top: 50px;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;

}
.button-and-input {

  margin-top: 30px;


}

#output {

  text-align: center;
  color: white;
  font-family: cursive;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;

}
